@import '../../styles/base/variables';

.counter {
  display: inline-flex;
  align-items: center;
  height: 1.2em; // Relative to parent font-size
  line-height: 1;
  vertical-align: middle;
}

.counter-digit {
  height: 100%;
  width: 0.65em; // Standard width for Arvo/Sans digits
  position: relative;
  overflow: hidden;
  display: inline-block;

  &__track {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__num {
    height: 1.2em; // Must match .counter height
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1;
    flex-shrink: 0;
  }
}
