@use 'variables' as vars;

.u-serif {
  font-family: vars.$font-primary;
}

.u-serif-italic {
  font-family: vars.$font-primary;
  font-style: italic;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-letter-spacing {
  letter-spacing: 0.15em;
}
