@import 'base/variables';
@import 'base/reset';
@import 'base/typography';

// Components
@import '../components/Navigation/Navigation';
@import '../components/Hero/Hero';
@import 'components/section';
@import '../components/PoemSample/PoemSample';
@import '../components/IllustrationGrid/IllustrationGrid';
@import '../components/ColorSpectrum/ColorSpectrum';
@import '../components/Author/Author';
@import '../components/ProductGrid/ProductGrid';
@import '../components/FAQ/FAQ';
@import '../components/PurchaseModal/PurchaseModal';
@import 'components/button';
@import '../components/Footer/Footer';
